div {
 margin:auto;
}
body {
 background-color:#2F4F4F;
 font-size:24px;
 font-weight:bold;
 font-family:Calibri,Arial,sans-serif;
 color:white;
}
#logo {
 background-image: url(logo.png);
 height:267px;
 width:300px;
}
#main {
 border:1px dotted white;
 width:400px;
 height:200px;
 background-image:url('img.php');
}
#menu {
 width:100%;
 text-align:center;
}
#menu li {
 display:inline;
 margin-right:50px;
}
#menu a {
 text-decoration:none;
 color:white;
}
#picture {
 width:352px;
 height:288px;
 margin:auto;
 border:2px solid white;
}
#stats {
 width:500px;
 margin:auto;
 border:2px solid white;
}
#statsmenu li {
 display:inline;
 margin-right:50px;
 padding:0px;
}
#statsmenu li:hover {
 cursor:pointer;
 background-color:#2F4F4F;
}
#statsmenu {
 background-color:#263F3F;
 text-align:center;
 border-bottom:1px solid #132020;
}
#statsimg {
 padding-bottom:10px;
}
#statsmenu ul {
 margin:0px;
}
